
.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-menu li {
    margin: 0 10px;
  }
  
  .nav-menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
  }
  
  .nav-menu a:hover {
    color: #ccc;
  }

  .nav-menu.scrolled {
    background-color: #555;
  }
  
  .nav-menu.scrolled a {
    color: #eee;
  }
  
  .nav-menu.scrolled a:hover {
    color: #fff;
  }

  .home {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100vh;
    background-image: url("https://t3.ftcdn.net/jpg/04/57/93/78/360_F_457937822_6guyVRMr4cCdCr36zPg7Er7WRaf0FbSn.jpg");

    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 0 20px;
  }
  
  .home-content {
    max-width: 590px;
  }
  
  .home h1 {
    font-size: 42px;
    margin-bottom: 20px;
    padding-top: 100px;
  }
  
  .home h2 {
    font-size: px;
    margin-bottom: 30px;
  }
  
  .home p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .m-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .m-button:hover {
    background-color: #0056b3;
  }
  /* About section styles */
.about {
    padding: 80px 20px;
    background-color: #13298b;
    color: white;
  }
  
  .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
 
  
  .about-text {
    flex: 1;
  }
  
  .about h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .m-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .m-button:hover {
    background-color: #0056b3;
  }